body{
    margin: 0;
    background-color: #2D2D2D;
    color: white;
}

.sticky-container {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    background: white;
    color: black;
}

header a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    gap: 30px;
}

.menu-distros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    background: #c6a904;
    padding: 10px;
}

.menu-distros a {
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.posts {
    padding: 0 30px;
    font-size: 20px;
}

details div {
    background-color: #c6a904;
    padding: 0 10px 1px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: black;
}

details summary {
    margin-bottom: 10px;
}

.download {
    font-size: 15px;
}

.distro-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.screenshots {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer {
    background-color: #c6a904;
    color: black;
    padding: 1px;
    text-align: center;
}

[id] {
    scroll-margin-top: 138px;
}